<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>UniPoint</title>
</head>
<body>

  <div class="container">
    <div class="row" style="padding-left: 5em; padding-top: 5em;"><!--Header-->
      <div class="col-md-2"></div>
      <div class="col-md" style="text-align: center;">
        <%= image_tag('logo.png', :size => '100%xauto') %>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row" style="padding-left: 5em; padding-top: 2em;"><!--body-->
      <div class="col-md-2"></div>
      <div class="col-md" style="text-align: center;">
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-outline-primary btn-lg" href="/login/index">Aluno</a>
          <button class="btn btn-outline-dark btn-lg" type="button">Professor</button>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row" style="padding-left: 5em; padding-top: 2em;"><!--Footer-->
      <div class="col-md-2"></div>
      <div class="col-md" style="text-align: center;">

      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
-->
</body>
</html>